# Default behavior : ignore all outputs
*.json
*.csv
*.txt

# Paris graph network (metro + RER)
!paris_network.json

# Paris GPS coordinates for each station
!paris_gps.json

# Basic ignores
__pycache__/
.idea/
.google-cookie


# Computation output
output/

# Overrides for some outputs
!out_v2.csv
!edge_distances.json
!last_flow.json

# Python environment requirements
!requirements.txt